
// //NAV 
nav {
    position: fixed;
    z-index: 3;
    width: 90%;
    height: 10vh;
    background-color: whitesmoke;
    padding-left: 5%;
    padding-right: 5%;
    @include MakeRow;
    justify-content: space-between;

    figure {
        @include MakeCenter;
    }

    img {
        width: 8vh;
        height: 8vh;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid black;
    }

    ul {
        @include MakeRow;
        width: 60%;
        height: 100%;
    }

    li {
        display: flex;
        width: 100%;
        @include MakeCenter;

        a {
            @include MakeCenter;
            width: 100%;
            height: 80%;
            font-size: 16px;
            text-decoration: none;
            color: black;
            transition: .3s;
        }

        a:hover {
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            scale: 1.2;
        }
    }

    .nav-links {
        @include MakeRow(2vw);
        align-items: center;

        a {
            text-decoration: none;
            font-size: 5vh;
        }

    }

}

.smaller-menu {
    display: none;
}

@media (max-width: $tabletScreen) {
    .bigger-menu {
        display: none;
    }

    .smaller-menu {
        display: flex;
        font-size: 2.5vh;
        background-color: darkgray;
        padding-top: 10vh;
        text-align: center;
        
        summary {
            width: 100%
        }
        
        li {
            @include MakeCenter;
        }

        a {
            @include MakeCenter;
            padding: 1%;
            font-size: 20px;
            text-decoration: none;
            color: black;
            transition: .3s;
        }
    }
}

@media (max-width: $mobileScreen) {}