@import 'variable';
@import 'mixins';
@import 'HomeContent';
@import 'AboutContent';

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('/src/assets/Logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.background-color {
    height: 100%;
    width: 100%;
    background-color: rgba($color: $backgroundColor, $alpha: .95);
    position: fixed;
    z-index: -1;
}

// Navigation
nav {
    position: fixed;
    z-index: 3;
    width: 90%;
    height: 10vh;
    background-color: whitesmoke;
    padding-left: 5%;
    padding-right: 5%;
    @include MakeRow;
    justify-content: space-between;

    figure {
        @include MakeCenter;
    }

    img {
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid black;
    }

    ul {
        @include MakeRow;
        width: 60%;
        height: 100%;
    }

    li {
        display: flex;
        width: 100%;
        @include MakeCenter;

        a {
            @include MakeCenter;
            width: 100%;
            height: 80%;
            font-size: 16px;
            text-decoration: none;
            color: black;
            transition: .3s;
        }

        a:hover {
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            scale: 1.2;
        }
    }
}

// Main Contents
main {
    padding-top: 10vh;
    overflow: auto;
    @include MakeColumn;
    align-items: center;
}

.contents {
    width: 90%;
    // height: 120vh;
    padding-top: 10vh;
    margin-top: -10vh;
    padding-bottom: 20vh;

    h1 {
        @include MakeCenter;
        height: 8vh;
        // border-bottom: 1px solid grey;
    }
}

// Footer
footer {
    height: 50vh;
}

#experience {
    @include MakeColumn(5vh);
    // border: 1px solid red;
    width: 100%;
    // background-color: rgba($color: black, $alpha: .5);

    .gallery {
        @include MakeRow(2vw);
        row-gap: 2vw;
        justify-content: center;
        flex-wrap: wrap;
    }

    figure {
        @include MakeColumn(5vh);
        height: 50vh;
        width: 80vh;
        position: relative;
        overflow-y: hidden;
        // display: flex;
        // justify-content: flex-end;
        background-color: white;
        border-radius: 10px;


        figcaption {
            overflow-y: hidden;
            position: absolute;
            @include MakeColumn(.5vh);
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 0%;
            background-color: rgba($color: white, $alpha: 0.850);
            z-index: 1;
            transition: .6s;
            overflow: scroll;

            // display: flex;
            // row-gap: 2vh;
            // color: white;
            h3 {
                // border: 1px solid red;
                width: 100%;
                text-align: center;
            }

            p {
                width: 90%;
                text-align: left;
                font-size: 16px;
                padding: 2%;
                line-height: 1.5;
            }
        }

        &:hover figcaption {
            height: 100%;
        }
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        position: absolute;
        // z-index: 1;
    }
}

#skills {
    @include MakeColumn(5vh);
    align-items: center;

    >section {
        width: 80%;
        @include MakeColumn(3vw);
        // flex-wrap: wrap;
    }

    fieldset {
        // width: 80%;
        padding: 3%;
        @include MakeRow(2vw);
        // flex-wrap: wrap;
        // justify-content: center;
    }

    legend {
        // text-align: center;
        font-size: 20px;
        font-weight: 600
    }

    aside {
        @include MakeColumn;
        align-items: center;
        text-align: center;
    }

    i {
        font-size: 10vh;
    }
}