@import 'variable';
@import 'mixins';
@import 'Navigation';
@import 'HomeContent';
@import 'AboutContent';
@import 'ExperienceContent';
@import 'SkillsContent';
@import 'ContactContent';

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('/src/assets/Logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.background-color {
    height: 100%;
    width: 100%;
    background-color: rgba($color: $backgroundColor, $alpha: .95);
    position: fixed;
    z-index: -1;
}

// Main Contents
main {
    padding-top: 10vh;
    overflow: auto;
    @include MakeColumn;
    align-items: center;
}

.contents {
    width: 90%;
    padding-top: 10vh;
    margin-top: -10vh;
    padding-bottom: 20vh;

    h1 {
        @include MakeCenter;
        height: 8vh;
        font-style: italic;
    }
}

// Footer
footer {
    @include MakeCenter;
    padding: 1%;
    background-color: rgba($color: whitesmoke, $alpha: .7);
}