* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    margin-bottom: 100vh;
}

/* HEADER */
header {
    height: 5vh;
}

header>section {
    background-color: black;
    width: 100%;
    height: 5vh;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    color: whitesmoke;
    font-style: oblique;
    padding-left: 1%;
}

nav {
    width: 50%;
    height: 100%;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: flex;
    width: 100%;
    height: 100%;
}

nav a {
    width: 100%;
    color: whitesmoke;
    padding-top: 1vh;
    text-align: center;
    text-decoration: none;
    transition: .6s;
}

nav a:hover {
    background-color: whitesmoke;
    color: black;
    border-radius: 50%;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

h2 {
    color: black;
    text-shadow: 2px 2px gray;
}

/* FOOTER */
footer {
    padding-left: 3%;
}

.home {
    padding: 3%;
    height: 90vh;

    background-image: url("/img/background.JPG");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /* padding-top: 5vh; */
    /* margin-top: -5vh; */
}

.home>h1 {
    color: dodgerblue;
    text-shadow: 3px 3px black;
    font-size: 40px;
}

.home p {
    color: black;
    font-size: 24px;
}

.about {
    padding: 3%;
    color: black;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;

    /* padding-top: 5vh; */
    /* margin-top: -5vh; */
}

.about>article {
    display: flex;
    column-gap: 5vw;
}

.about blockquote {
    width: 50%;
    line-height: 3;
    font-size: 20px;
    padding-left: 1%;
    background-color: aliceblue;
    border-radius: 10%;
}

.about aside {
    font-size: 20px;
    width: 50%;
}

.about ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vh;
    column-gap: 3vh;
}

.about li {
    display: flex;
}

.about fieldset {
    width: 20vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10%;
    background-color: aliceblue;
}

.about span {
    font-size: 50px;
}

.projects {
    padding: 3%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;

    /* padding-top: 5vh; */
    /* margin-top: -5vh; */
}

.projects>article {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vh;
    column-gap: 3vw;
}

.projects figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    padding: 1%;
    background-color: aliceblue;
    border-radius: 10%;
}

.projects img {
    width: 20vw;
    height: 25vh;
}

.links {
    padding: 3%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;

    /* padding-top: 5vh; */
    /* margin-top: -5vh; */
}

.links ul {
    display: flex;
    justify-content: space-around;
}

.links li {
    display: flex;
}

.links img {
    width: 10vw;
    padding: 5%;
    background-color: aliceblue;
    border-radius: 10%;
}

.contact {
    padding: 3%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;

    /* padding-top: 5vh; */
    /* margin-top: -5vh; */
}

.contact aside {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    font-size: 30px;
}

.contact p {
    color: black;
}

.contact a {
    color: black;
    text-decoration: none;
    background-color: aliceblue;
    padding: 1%;
    width: 20vw;
    border-radius: 5%;
}

